* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  height: 100vh;
  background: #bfbfbf;
}

nav {
  background: #2c3335;
  display: flex;
  padding: 1rem 5rem;
  border-bottom: 2px solid #ffffff;
}

.logo,
.nav-items {
  flex: 1;
}

.logo p {
  font-style: "Times New Roman";
  font-size: 32px;
  color: #ffffff;
  padding: 0.5rem;
  font-weight: bold;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 0.5rem;
}

.nav-items ul li {
  flex: 1;
  text-align: right;
  max-width: 150px;
  font-size: 20px;
  margin-top: 6px;
}

.nav-items ul li:hover a {
  color: #e8ebee;
}

#cart {
  font-size: 32px;
  margin: 0;
}

#cart a {
  position: relative;
}

#cart span {
  display: block;
  position: absolute;
  border-radius: 100px;
  background: red;
  padding: 1px 6px;
  font-size: 15px;
  top: -5px;
  right: -10px;
}

.main-section {
  height: 675px;
  display: flex;
}

.main-section .side-section {
  height: 100%;
  flex: 1;
  background: #000000;
}

.main-section .form-section {
  height: auto;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-form {
  min-width: 450px;
}

.form-heading {
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-style: "Arial";
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

.form-heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background: #d8504c;
}

.form-input input {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
  padding: 0.6rem 0;
  padding-left: 3rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}

#loginpassword {
  margin-top: 3rem;
}

.form-input input::placeholder {
  font-weight: 100;
}

.form-input {
  position: relative;
  z-index: 100;
  margin-top: 1rem;
}

.form-input::before {
  content: "";
  position: absolute;
  background: #2c3335;
  bottom: -3px;
  right: -3px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

.icon {
  position: absolute;
  background: #d8504c;
  color: #ffffff;
  padding: 5px 7px;
  left: 10px;
  border-radius: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.login-signup-form #forgot-password {
  padding: 1rem 0;
  text-align: right;
  font-weight: bold;
}

.login-signup-form #forgot-password a {
  color: #000000;
}

.checkInput {
  margin-top: 1rem;
  position: relative;
  padding-left: 40px;
  font-weight: bold;
}

.checkInput #input-check {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.checkInput #input-check input {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  outline: none;
  z-index: 10;
}

.checkInput #input-check > input:checked + i {
  display: block;
}

.checkInput #input-check input + i {
  position: absolute;
  top: -6px;
  left: 3px;
  font-size: 1.6rem;
  color: #d8504c;
  display: none;
  pointer-events: none;
}

input[type="submit"] {
  margin-top: 1.5rem;
  padding: 0.5rem 3.5rem;
  outline: none;
  border: none;
  border-radius: 25px;
  background: #d8504c;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

#signup {
  margin-top: 1.5rem;
  font-weight: bold;
}

#signup > a {
  color: #d8504c;
}

#icon-mobile {
  font-size: 1.2rem;
  padding: 4px 10px;
}

.eye {
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 25px;
  cursor: pointer;
  color: #4c4b4b;
}

@media screen and (max-width: 650px) {
  .container {
    height: auto;
  }
  .main-section {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 500px) {
  .login-signup-form {
    min-width: 300px;
  }
  input[type="submit"] {
    padding: 0.5rem 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    height: 100vh;
  }

  nav {
    padding: 1rem 1rem;
  }

  .logo {
    flex: 1;
  }

  .nav-items {
    flex: 3;
  }

  .logo p {
    font-size: 28px;
  }

  .nav-items ul li {
    max-width: 70px;
    font-size: 18px;
  }

  .form-section {
    padding-bottom: 30px;
  }
}
