body {
  background-color: #bfbfbf;
  color: #ffffff;
  font-size: 16px;
  font-family: serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  background: #404044;
  display: flex;
  border-bottom: 2px solid #bfbfbf;
  padding: 0.6rem 2.5rem;
  position: relative;
}
.form-inline {
  margin-top: 0.4rem;
}

.search_bar {
  position: absolute;
  left: 50%;
  width: 600px;
  transform: translateX(-80%);
}

.search_bar .form-inline .form-control {
  width: 80%;
}

.search-bar {
  background-color: #737373;
  border-radius: 10%;
  border: 1px solid #ffffff;
}

.logo,
.nav-items {
  flex: 1;
}

.logo p {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 1.5rem;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.nav-items ul li {
  flex: 1;
  text-align: right;
  max-width: 200px;
  font-size: 20px;
  margin-top: 8px;
}

.nav-items ul li:hover a {
  text-decoration: none;
  color: #bfbfbf;
}

#cart {
  font-size: 32px;
  margin: 0;
}

#cart a {
  position: relative;
  margin-right: 1.5rem;
}

#cart span {
  display: block;
  position: absolute;
  border-radius: 100px;
  background: red;
  padding: 1px 6px;
  font-size: 15px;
  top: -5px;
  right: -10px;
}

footer {
  background-color: #404040;
  color: #ffffff;
  font-style: arial;
}
.flex-center {
  margin-left: 35%;
}
.footer-copyright {
  background-color: #737373;
}
